<!DOCTYPE html>
<html>
<head>
    <title>Dashbord</title>
</head>
<body>
    <h1>Welcome User!!!!!</h1>
    <h1>How are you??</h1>

    <form action="/logout" method="POST">
        <button type="submit">Logout</button>
    </form>
</body>
</html>